body {
  background-image: url('./assets/images/library.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  color: #f0f3f6;
  text-align: center;
  margin-top: 20px;
}


